.back {
  width: 0.58666667rem;
  height: 0.58666667rem;
  background: url(../images/fanhui.png) no-repeat;
  background-size: 0.58666667rem auto;
  position: absolute;
  top: 3%;
  left: 0.8rem;
  z-index: 15;
}
.about {
  width: 8.78666667rem;
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
  color: #fff;
  background: url(../images/about_img01.png) no-repeat;
  background-size: 8.78666667rem auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.about .anima {
  display: inline-block;
  animation: abo 1.2s ease infinite;
  animation-play-state: paused;
}
.about_text {
  width: 8.45333333rem;
  height: 14.05333333rem;
  background: #fff;
  border: 5px dashed #009051;
  border-radius: 0.66666667rem;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
}
.about_text .img {
  width: 3.32rem;
  height: 3.22666667rem;
  margin: 0 auto;
  margin-top: 0.9rem;
}
.about_text .img img {
  width: 100%;
}
.about_text .list01 {
  width: 1.85333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  background: #2b7a50;
  border-radius: 0.19306667rem;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  margin: 0.4rem 0.5rem 0.5rem;
}
.about_text p {
  display: block;
  margin: 0 auto;
  width: 7.28rem;
  font-size: 0.35rem;
  color: #3c3c3c;
  margin-bottom: 0.1rem;
  font-weight: bold;
}
.about_text p:nth-child(3) {
  margin-bottom: 0;
}
.about_text p:last-child {
  line-height: 0.6rem;
}
.about_btn {
  width: 3.69333333rem;
  height: 1.06666667rem;
  position: absolute;
  bottom: 1rem;
  left: 30%;
  z-index: 99;
  cursor: pointer;
  animation: btn 2s linear infinite;
}
.about_btn img {
  width: 100%;
}
@keyframes abo {
  0% {
    transform: translateY(-0.16rem);
  }
  30% {
    transform: translateY(0.13333333rem);
  }
  100% {
    transform: translateY(-0.16rem);
  }
}
ransform: translateY(0.13333333rem);
  }
  100% {
    transform: translateY(-0.16rem);
  }
}
