.footer_hudie {
  width: 1.68rem;
  height: 1.14666667rem;
  background: url(../images/hudie.png) no-repeat;
  background-size: 1.68rem auto;
  position: absolute;
  top: 5%;
  left: 4rem;
  z-index: 10;
}
.caidai {
  width: 10rem;
  height: 6rem;
  background: url(../images/footer_caidai2.png) no-repeat;
  background-size: 10rem auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.caidai1 {
  width: 10rem;
  height: 6.06666667rem;
  background: url(../images/footer_caidai01.png) no-repeat;
  background-size: 10rem auto;
  position: absolute;
  top: 2rem;
  left: 0rem;
}
.caidai2 {
  width: 10rem;
  height: 6.06666667rem;
  background: url(../images/footer_caidai01.png) no-repeat;
  background-size: 10rem auto;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 40;
}
.zhengshu {
  width: 9.8rem;
  height: 10.77333333rem;
  background: url(../images/footer_zhengshu.png) no-repeat;
  background-size: 9.8rem auto;
  position: absolute;
  top: 3.8rem;
  left: -1rem;
  z-index: 30;
  text-align: center;
  animation: zheng 3s linear 3;
}
.zhengshu .rz {
  width: 1.62666667rem;
  height: 1.73333333rem;
  background: url(../images/footer_rz.png) no-repeat;
  background-size: 1.62666667rem auto;
  position: absolute;
  top: 6rem;
  right: 2rem;
}
.zhengshu .tittle {
  margin-top: 3.8rem;
  text-indent: 0.7rem;
  font-size: 0.5rem;
  font-weight: bold;
}
.zhengshu .test {
  width: 46%;
  font-size: 0.25rem;
  line-height: 0.5rem;
  margin: 0.3rem 0rem 0rem 3rem;
}
@keyframes zheng {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
