.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 17.78666667rem;
  background: rgba(255, 255, 255, 0.8);
}
.box .fonts {
  position: relative;
  width: 70%;
  height: 0.5rem;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
  font-weight: bold;
  border-radius: 0.26666667rem;
  background-color: #609887;
  margin: 0 auto;
}
.box .fonts .text {
  position: relative;
  z-index: 5;
}
.box .fonts .bg {
  position: absolute;
  width: 6%;
  height: 0.5rem;
  top: 0;
  left: 0;
  border-radius: 0.26666667rem;
  background-color: #f1990f;
}
